.grid-container {
            display: grid;
            grid-template-columns: 0.5fr 1.5fr 1fr 1fr; 
        }

        .grid-item {
            background-color: #f2f2f2;
            padding: 15px;
            text-align: center;
            border: 1px solid #ddd;
        }